[submodule "snapclient"]
	path = snapclient
	url = https://github.com/W-Floyd/snapclient.git
[submodule "pcb/circuit-synth-local"]
	path = pcb/circuit-synth-local
	url = https://github.com/W-Floyd/circuit-synth.git
	branch = dev
