# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
*.pdf
*.bak
*.lck
pcb/speakeasy/speakeasy_staging/
pcb/speakeasy/speakeasy/.history/
pcb/speakeasy/speakeasy/jlcpcb/project.db
**/__pycache__/
*.DS_Store
**/.history
gen-ci
gen-snapclient
gen-index
gen-configs
